*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container
{
	width:100%;
	min-height:200px;
	background-color:aqua;
}
header
{
	height:60px;
	width:100%;
	/* background-color:blue; */
	display:flex;
	align-items:center;
	justify-content:space-between;
	
}
header h2
{
	color:rgba(0,0,0,.5);
}
header .icon
{
	height:50px;
}
header .icon img
{
	height:40px;
	width:50px;
}
.slider
{
	height:300px;
	width:100%;
	background-color:#fff;
	display:flex;
	justify-content:center;
	gap:20px;
	align-items:center;
}
.slider img
{
	height:250px;
	width:100%;
	margin-right:10px;
}

.capabity
{
	min-height:400px;
	width:100%;
	background-color:crimson;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
.capabity p,.capabity h1
{
	color:#fff;
}
.main-box
{
	min-height:200px;
	width:90%;
	display:flex;
	align-items:center;
	justify-content:center;
	/* background:yellow; */
	gap:20px;
}
.box{
	min-height:190px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background-color:rgba(255,255,255,0.9);
}
.main-box .box p{

	color:black;
}
/* ---------epic design-------------- */
.epic-img
{
	height:600px;
	width:100%;
	display:flex;
	flex-direction:column;
	background-image:url("img2.jpg");
	background-size:100% 100%;
}
.epic-img >h1,.epic-img >p {
	margin-left:30px;
}

.epic-img .main-box
{
	width:80%;
}
.epic-img img{
	width:30px;
	height:30px;
	background-color:crimson;
	border-radius:10px;
}
.epic-img .main-box
{
	margin-left:20px;
}
.epic-img .main-box .box
{
	margin-top:20px;
	display:flex;
	padding-left:10px;
	padding-top:20px;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
	background-color:rgba(255,255,255,.9);
}


/* ------------footer------------- */
footer
{
	margin-top:50px;
	min-height:200px;
	width:100%;
	background-color:rgba(95,95,95,.95);
	display:flex;
	align-items:center;
	gap:40px;
	justify-content:center;
	color:#FFF;
}
.get-p-input
{
	display:flex;
	flex-direction:column;
	
	width:70%;
	
}
input{
	height:30px;
	font-size:20px;
	border-radius:5px;
}
button{
	font-size:1em;
	height:30px;
	background-color:crimson;
	color:white;
	width:70px;
	border:none;
	border-radius:5px;
}
.list
{
	list-style-type:square;
}
